:root {
	--card-img-w: 68px;
	--card-img-h: 102px;

	--card-w: calc(var(--card-img-w) + 2px);
	--card-h: calc(var(--card-img-h) + 2px);

	--my-hand-proportion: 1.25;

	--my-hand-w: calc(var(--card-w) * var(--my-hand-proportion));
	--img-my-hand-w: calc(var(--card-w) * var(--my-hand-proportion));
	--img-my-hand-h: calc(var(--card-h) * var(--my-hand-proportion));
	--my-hand-h: 35px;
	--my-hand-half-w: 20px;

	--other-hand-w: var(--card-w);
	--other-hand-h: 20px;
	--other-hand-half-w: 20px;

	--deck-half-h: 2px;
	--discard-half-h: 5px;

	--horiz-half-h: 12px;
}

img {
	width: var(--card-img-w);
	height: var(--card-img-h);
	flex-shrink: 0;
	border:1px solid black;
	z-index: 0;
}

div {
	overflow:hidden;
}

.card { /* deck, discard, run */
	width: var(--card-w);
	height: var(--card-h);
}

.my-hand {
	width: var(--my-hand-w);
	height: var(--my-hand-h);
}

.my-hand-half {
	width: var(--my-hand-half-w);
	height: var(--my-hand-h);
}

.my-hand > img, .my-hand-half > img {
	width: var(--img-my-hand-w);
	height: var(--img-my-hand-h);
}

.north-hand {
	width: var(--other-hand-w);
	height: var(--other-hand-h);
}

.north-hand-half {
	width: var(--other-hand-half-w);
	height: var(--other-hand-h);
}

.north-hand > img, .north-hand-half > img {
	position: relative;
	margin: calc(var(--other-hand-h) - var(--card-h)) 0;
}

.west-hand {
	width: var(--other-hand-h);
	height: var(--other-hand-w);
}

.west-hand-half {
	width: var(--other-hand-h);
	height: var(--other-hand-half-w);
}

.east-hand {
	width: var(--other-hand-h);
	height: var(--other-hand-w);
}

.east-hand-half {
	width: var(--other-hand-h);
	height: var(--other-hand-half-w);
}

.deck-half {
	width: var(--card-w);
	height: var(--deck-half-h);
}

.deck-half > img{
	position: relative;
	margin: calc(var(--deck-half-h) - var(--card-h)) 0;
}

.discard-half {
	width: var(--card-w);
	height: var(--discard-half-h);
}

.run-half {
	width: var(--card-w);
	height: 20px;
}

.run-horiz {
	width: var(--card-h);
	height: var(--card-w);
}

.run-horiz-half {
	width: var(--card-h);
	height: var(--horiz-half-h);
}

.run-horiz-overflow {
	width: var(--card-h);
	height: var(--horiz-half-h);
	overflow: visible;
}

.run-horiz > img, .run-horiz-half > img,  .run-horiz-overflow > img{
	transform-origin: calc(var(--card-h) / 2) center;
	transform: rotate(90deg);
}

.selected-card {
	filter: invert(25%);
}