body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: Lato;
}

div { display: flex; }

#main {
	height: 100%;
	background-color: #33691E;
}

#discard {
	min-width: 70px;
	min-height: 104px;
}

.border {
	border:1px solid black;
}

.grow { flex: 1; }

.row {
	flex-direction: row;
	flex-wrap: wrap;
}

.column { flex-direction: column; }

.run {
	margin: 2px;
	align-items: center;
}

#my-runs {
	justify-content: right;
	align-items: flex-start;
	align-content: flex-start;
	border:1px solid black;
	overflow-y: auto;
}

#other-runs {
	justify-content: left;
	align-items: flex-start;
	align-content: flex-start;
	border:1px solid black;
	overflow-y: auto;
}

#west, #east {
	width: 23px;
	justify-content: center;

}

#east {
	align-items: flex-end;
	flex-direction: column-reverse;
}

#north {
	height: 23px;
	justify-content: center;
	flex-direction: row-reverse;
}

#south {
	height: 40px;
	justify-content: center;
	width: 75%;
	margin: auto;
	flex-wrap: wrap-reverse;
}

.south-double-row {
	height: 70px !important;
}

#table-middle {
	width: 150px;
	justify-content: space-between;
	align-items: center;
}

#deck-discard {
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

#top {
	width: 100%;
	justify-content: space-between;
}

.badge {
	margin: 0 10px;
	justify-content: center;
	align-items: center;
	display: none;
}

.badge-img {
	width: 48px;
	height: 48px;
	border-radius: 5px;
	margin: 3px;
}

.badge-name {
	margin: 0 5px;
}

.his-turn {
	text-shadow: 0px 0px 5px white;
}

#chat-button, #points-button {
	width: 100px;
	height: 30px;
	justify-content: center;
}

#points {
	background-color: #DCEDC8;
	width: 170px;
	height: 300px;
	padding: 5px;
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
}

#points > table {
	border-collapse: collapse;
}

.points-separator tr {
	height: 5px;
}

.green-border {
	border:1px solid #025c02;
	border-radius: 3px;
}

.points-row {
	flex-direction: row;
	justify-content: space-evenly;
}

#chat {
	background-color: #DCEDC8;
	width: 400px;
	height: 200px;
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
}

#chat-text {
	overflow-y: auto;
	margin: 5px;
}

.chat-user{
	vertical-align: top;
}

.chat-msg{
	word-break: break-word;
}

#chat-msg > input {
	width: 100%;
	margin: 5px
}

#chat-send {
	margin: 5px;
	width: 70px;
	justify-content: center;
}

.chat-new-msg {
	text-shadow: 0px 0px 5px white;
}
