body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

div { display: flex; }

#main {
	height: 100%;
	background-color: #004b00;
}

#discard {
	border:1px solid black;
	min-width: 70px;
	min-height: 104px;
}

.grow { flex: 1; }

.row {
	flex-direction: row;
	flex-wrap: wrap;
}

.column { flex-direction: column; }

.run {
	margin: 2px;
	align-items: center;
}

#my-runs {
	justify-content: right;
	align-items: flex-start;
	align-content: flex-start;
	border:1px solid black;
}

#other-runs {
	justify-content: left;
	align-items: flex-start;
	align-content: flex-start;
	border:1px solid black;
}

#west, #east {
	width: 35px;
	border:1px solid black;
	justify-content: center;

}

#east {
	align-items: flex-end;
}

#north {
	height: 35px;
	border:1px solid black;
	justify-content: center;
}

#south {
	height: 60px;
	justify-content: center;
	/*align-items: flex-end;*/
	/*align-content: flex-end;*/
	width: 50%;
	margin: auto;
	flex-wrap: wrap-reverse;
	border:1px solid black;
}

#deck-discard {
	width: 150px;
	justify-content: space-between;
	align-items: center;
}