#header-main {
	text-shadow: 0px 0px 3px #33691E;
	background-color: #a9bb93;
	border: 1px solid #33691E;
}

#header-main > div {
	align-items: center;
	margin: 0 5px;
}

#header-logo {
	font-size: xx-large;
}

#header-spacer {
	flex-grow: 1;
}

#header-logout {
	margin-right: 10px;
}

#header-avatar > img{
	width: 40px;
	height: 40px;
	margin: 3px 0;
	border-radius: 5px;
}