body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: Lato;
	background-color: #dcedc8;
}

div {
	display: flex;
}

#tables {
	margin: auto;
	flex-direction: row;
	justify-content: center;
}

#tables-open {
	flex-direction: column;
	/*justify-content: center;*/
	border: 1px solid #33691E;
	padding: 10px;
}

#tables-open > table {
	border-collapse: collapse;

}

#tables-open th {
	border: 1px solid #33691E;
}

.title {
	font-size: large;
}

#tables-create {
	flex-direction: column;
	justify-content: center;
	border: 1px solid #33691E;
	margin: 10px;
	padding: 10px;
}

