<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burraco - tables</title>

	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="/css/tables.css">
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/tables.js"></script>
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
	<br>
	<div id="tables">
		<div id="tables-open">
			<div class="title">Open Tables:</div>
			<div id="tables-table">
				<table>
					<thead>
					<tr><th>Players</th><th>Target Points</th></tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div id="tables-bottom">
				bottom
			</div>
		</div>
		<div id="tables-create">
			<div class="title">Create New Table:</div>
			<div id="tables-form">
				<form action="">
					<span>Target Points:</span><br>
					<input type="radio" id="points-a" name="targetPoints" value=505 checked>
					<label for="points-a">505</label><br>
					<input type="radio" id="points-b" name="targetPoints" value=1005>
					<label for="points-b">1005</label><br>
					<input type="radio" id="points-c" name="targetPoints" value=2005>
					<label for="points-c">2005</label><br>
					<br>
					<span>Number of Players:</span><br>
					<input type="radio" id="player-a" name="numPlayers" value=2 checked>
					<label for="player-a">2</label><br>
					<input type="radio" id="player-b" name="numPlayers" value=4>
					<label for="player-b">4</label><br>
					<br>
					<button type="button" id="create-table">Create</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>